<div class="container-fluid ">
 
    <table class="table ">
      <thead style="background-color: #ffffff">
        <tr>
          <th>STUDENT NAME</th>
          <th>USER ID</th>
          <th>PARENT NAME</th>
          <th>CLASS CODE</th>
          <th></th>
        
         <th></th>
          <th>ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <tr class="student" *ngFor="let field of fieldArray; let i = index" id="{{i}}">
          <td>
            <div class="form-group-material">
              <input  id="studentName" type="text" name="studentName" class="input-material " >
              <label for="studentName" class="label-material">studentName</label>

              <!-- <span *ngIf="!addPeople.controls['studentName'].valid && addPeople.controls['studentName'].touched && addPeople.controls['studentName'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span> -->

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input disabled  id="studentCode" type="text" name="studentCode" class="input-material " >
              <label for="studentCode" class="label-material">@123546546</label>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input  id="parentName" type="text" name="parentName" class="input-material " >
              <label for="parentName" class="label-material">parentName</label>

              <!-- <span *ngIf="!addPeople.controls['parentName'].valid && addPeople.controls['parentName'].touched && addPeople.controls['parentName'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span> -->

            </div>
          </td>
          <td id="{{i+2}}">
            <div class="form-group-material">
              <input  id="classCode" type="text" name="classCode" class="input-material " >
              <label for="classCode" class="label-material">classCode</label>


            </div>
          </td>
          <td>
            <span>
              <b>,</b>
            </span>
          </td>
          
          <td>
            <span>
              <a class="btn btn-default" style="background: transparent;border: none" (click)=getRowIndex(i+2)>
                <i class="fa fa-plus"></i>
              </a>
            </span>
          </td>
          <td>
            <span>
              <button style="color:red;    font-size: 15px;" (click)="deleteFieldValue(i)">
                <i class="fa fa-minus"></i> &nbsp;REMOVE</button>
            </span>

          </td>
        </tr>
      

      </tbody>


    </table>

    <div class="form-group text-center">

      <button class="btn btn-defualt" style="background: transparent;border: 2px slategrey solid;margin-bottom: 10px;width: 130px;  "
       (click)="addFieldValue()">
      Add People</button>
      <br>
      <button type="submit" id="login" class="btn btn-primary" style=" border :none;background-color: #f76149 ;width: 130px;border-radius: 4px;">SUBMIT</button>

    </div>
 
 
  <!-- <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Price</th>
              <th>Action</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let field of fieldArray; let i = index" >
              <td>
                  <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" />
              </td>
              <td>
                  <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
              </td>
              <td>
                  <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
              </td>
              <td>
                  <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
              </td>

              <td (click)=getRowIndex(i)>
              <button class="btn btn-primary">  +</button>
              </td>
             
          </tr>
          <tr>
             
              <td>
                  <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.code" name="newAttributeCode" />
              </td>
              <td>
                  <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" />
              </td>
              <td>
                  <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />
              </td>
              <td>  </td>
              <td>
                  <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
              </td>
          </tr>
      </tbody>
  </table> -->
  
</div>