<div class="container">
  <!-- <form [formGroup]="addPeople">
    <table class="table ">
      <thead style="background-color: #ffffff">
        <tr>
          <th>STUDENT NAME</th>
          <th>USER ID</th>
          <th>PARENT NAME</th>
          <th>CLASS CODE</th>
          <th></th>
          <th></th>
          <th></th>
          <th>ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <tr class="student">
          <td>
            <div class="form-group-material">
              <input formControlName=studentName id="studentName" type="text" name="studentName" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['studentName'].valid && addPeople.controls['studentName'].touched )}">
              <label for="studentName" class="label-material">studentName</label>

              <span *ngIf="!addPeople.controls['studentName'].valid && addPeople.controls['studentName'].touched && addPeople.controls['studentName'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input disabled formControlName=studentCode id="studentCode" type="text" name="studentCode" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['studentCode'].valid && addPeople.controls['studentCode'].touched )}">
              <label for="studentCode" class="label-material">@123546546</label>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=parentName id="parentName" type="text" name="parentName" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['parentName'].valid && addPeople.controls['parentName'].touched )}">
              <label for="parentName" class="label-material">parentName</label>

              <span *ngIf="!addPeople.controls['parentName'].valid && addPeople.controls['parentName'].touched && addPeople.controls['parentName'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=classCode id="classCode" type="text" name="classCode" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['classCode'].valid && addPeople.controls['classCode'].touched )}">
              <label for="classCode" class="label-material">classCode</label>


              <span *ngIf="!addPeople.controls['classCode'].valid && addPeople.controls['classCode'].touched && addPeople.controls['classCode'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <span>
              <b>,</b>
            </span>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=classCode2 id="classCode2" type="text" name="classCode2" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['classCode2'].valid && addPeople.controls['classCode2'].touched )}">
              <label for="classCode2" class="label-material">classCode2</label>

              <span *ngIf="!addPeople.controls['classCode2'].valid && addPeople.controls['classCode2'].touched && addPeople.controls['classCode2'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <span>
              <a>
                <i class="fa fa-plus"></i>
              </a>
            </span>
          </td>
          <td>
            <span>
              <a style="color:red;    font-size: 15px;">
                <i class="fa fa-minus"></i> &nbsp;REMOVE</a>
            </span>

          </td>
        </tr>
        <tr class="student">
          <td>
            <div class="form-group-material">
              <input formControlName=studentName id="studentName" type="text" name="studentName" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['studentName'].valid && addPeople.controls['studentName'].touched )}">
              <label for="studentName" class="label-material">studentName</label>

              <span *ngIf="!addPeople.controls['studentName'].valid && addPeople.controls['studentName'].touched && addPeople.controls['studentName'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input disabled formControlName=studentCode id="studentCode" type="text" name="studentCode" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['studentCode'].valid && addPeople.controls['studentCode'].touched )}">
              <label for="studentCode" class="label-material">@123546546</label>

        
            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=parentName id="parentName" type="text" name="parentName" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['parentName'].valid && addPeople.controls['parentName'].touched )}">
              <label for="parentName" class="label-material">parentName</label>

              <span *ngIf="!addPeople.controls['parentName'].valid && addPeople.controls['parentName'].touched && addPeople.controls['parentName'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=classCode id="classCode" type="text" name="classCode" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['classCode'].valid && addPeople.controls['classCode'].touched )}">
              <label for="classCode" class="label-material">classCode</label>


              <span *ngIf="!addPeople.controls['classCode'].valid && addPeople.controls['classCode'].touched && addPeople.controls['classCode'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <span>
              <b>,</b>
            </span>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=classCode2 id="classCode2" type="text" name="classCode2" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['classCode2'].valid && addPeople.controls['classCode2'].touched )}">
              <label for="classCode2" class="label-material">classCode2</label>

              <span *ngIf="!addPeople.controls['classCode2'].valid && addPeople.controls['classCode2'].touched && addPeople.controls['classCode2'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <span>
              <a>
                <i class="fa fa-plus"></i>
              </a>
            </span>
          </td>
          <td>
            <span>
              <a style="color:red;    font-size: 15px;">
                <i class="fa fa-minus"></i> &nbsp;REMOVE</a>
            </span>

          </td>
        </tr>
        <tr class="student">
          <td>
            <div class="form-group-material">
              <input formControlName=studentName id="studentName" type="text" name="studentName" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['studentName'].valid && addPeople.controls['studentName'].touched )}">
              <label for="studentName" class="label-material">studentName</label>

              <span *ngIf="!addPeople.controls['studentName'].valid && addPeople.controls['studentName'].touched && addPeople.controls['studentName'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input disabled formControlName=studentCode id="studentCode" type="text" name="studentCode" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['studentCode'].valid && addPeople.controls['studentCode'].touched )}">
              <label for="studentCode" class="label-material">@123546546</label>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=parentName id="parentName" type="text" name="parentName" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['parentName'].valid && addPeople.controls['parentName'].touched )}">
              <label for="parentName" class="label-material">parentName</label>

              <span *ngIf="!addPeople.controls['parentName'].valid && addPeople.controls['parentName'].touched && addPeople.controls['parentName'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=classCode id="classCode" type="text" name="classCode" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['classCode'].valid && addPeople.controls['classCode'].touched )}">
              <label for="classCode" class="label-material">classCode</label>


              <span *ngIf="!addPeople.controls['classCode'].valid && addPeople.controls['classCode'].touched && addPeople.controls['classCode'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <span>
              <b>,</b>
            </span>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=classCode2 id="classCode2" type="text" name="classCode2" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['classCode2'].valid && addPeople.controls['classCode2'].touched )}">
              <label for="classCode2" class="label-material">classCode2</label>

              <span *ngIf="!addPeople.controls['classCode2'].valid && addPeople.controls['classCode2'].touched && addPeople.controls['classCode2'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <span>
              <a>
                <i class="fa fa-plus"></i>
              </a>
            </span>
          </td>
          <td>
            <span>
              <a style="color:red;    font-size: 15px;">
                <i class="fa fa-minus"></i> &nbsp;REMOVE</a>
            </span>

          </td>
        </tr>
        <tr class="student">
          <td>
            <div class="form-group-material">
              <input formControlName=studentName id="studentName" type="text" name="studentName" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['studentName'].valid && addPeople.controls['studentName'].touched )}">
              <label for="studentName" class="label-material">studentName</label>

              <span *ngIf="!addPeople.controls['studentName'].valid && addPeople.controls['studentName'].touched && addPeople.controls['studentName'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input disabled formControlName=studentCode id="studentCode" type="text" name="studentCode" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['studentCode'].valid && addPeople.controls['studentCode'].touched )}">
              <label for="studentCode" class="label-material">@123546546</label>

            
            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=parentName id="parentName" type="text" name="parentName" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['parentName'].valid && addPeople.controls['parentName'].touched )}">
              <label for="parentName" class="label-material">parentName</label>

              <span *ngIf="!addPeople.controls['parentName'].valid && addPeople.controls['parentName'].touched && addPeople.controls['parentName'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=classCode id="classCode" type="text" name="classCode" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['classCode'].valid && addPeople.controls['classCode'].touched )}">
              <label for="classCode" class="label-material">classCode</label>


              <span *ngIf="!addPeople.controls['classCode'].valid && addPeople.controls['classCode'].touched && addPeople.controls['classCode'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <span>
              <b>,</b>
            </span>
          </td>
          <td>
            <div class="form-group-material">
              <input formControlName=classCode2 id="classCode2" type="text" name="classCode2" class="input-material " [ngClass]="{'is-invalid ': (!addPeople.controls['classCode2'].valid && addPeople.controls['classCode2'].touched )}">
              <label for="classCode2" class="label-material">classCode2</label>

              <span *ngIf="!addPeople.controls['classCode2'].valid && addPeople.controls['classCode2'].touched && addPeople.controls['classCode2'].value.length < 4"
                class="help-block sub-little-text" style="color:#dc3545">please enter minimum 4 characters.</span>

            </div>
          </td>
          <td>
            <span>
              <a>
                <i class="fa fa-plus"></i>
              </a>
            </span>
          </td>
          <td>
            <span>
              <a style="color:red;    font-size: 15px;">
                <i class="fa fa-minus"></i> &nbsp;REMOVE</a>
            </span>

          </td>
        </tr>

      </tbody>


    </table>

    <div class="form-group text-center">

      <button class="btn btn-defualt" style="background: transparent;border: 2px slategrey solid;margin-bottom: 10px;width: 130px;  ">
      + Add People</button>
      <br>
      <button [disabled]="!loginForm.valid" type="submit" id="login" class="btn btn-primary" style=" border :none;background-color: #f76149 ;width: 130px;border-radius: 4px;">SUBMIT</button>

    </div>
  </form> -->

  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Price</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let field of fieldArray; let i = index">
              <td>
                  <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" />
              </td>
              <td>
                  <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
              </td>
              <td>
                  <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
              </td>
              <td>
                  <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
              </td>
          </tr>
          <tr>
              <td>
                  <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.code" name="newAttributeCode" />
              </td>
              <td>
                  <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" />
              </td>
              <td>
                  <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />
              </td>
              <td>
                  <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
              </td>
          </tr>
      </tbody>
  </table>
  t
</div>