<!-- Side Navbar -->
<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <!-- Sidebar Header    -->
    <div class="sidenav-header d-flex align-items-center justify-content-center" style="background: #F76148">
      <!-- User Info-->
      <div class="sidenav-header-inner text-center">
        <img src="assets/Images/Caraborate.png" alt="" style="width: 150px;height: 100px; text-align: center">
        <!-- <img src="assets/img/avatar-1.jpg" alt="person" class="img-fluid rounded-circle"> -->
        <!-- <h2 class="h5">Anderson Hardy</h2><span>Web Developer</span> -->
      </div>
      <!-- Small Brand information, appears on minimized sidebar-->
      <div class="sidenav-header-logo">
        <!--        <strong>B</strong><strong class="text-primary">D</strong> -->
        <a href="index.html" class="brand-small text-center">
          <img src="assets/Images/withoutTexLogo.png" alt="" style="width: 50px;height: 50px"> </a>

      </div>
    </div>
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">
      <br>

      <ul  id="side-main-menu" class="side-menu list-unstyled">
        <li class="header">
          <b class="myDIV">CREATED CLASSES</b>


          <i data-toggle="modal" data-target="#CreateClass" class="fas fa-plus" style="margin-left: 50px; color:gray"></i>
        </li>

        <li class="active">

          <a href="/app/Message/39">
            <i class="">
              <span>
                <img src="../Content/Images/tech.svg" style="width: 26px;border-radius: 50%;">
              </span>
            </i>
            <span>123 39 </span>
          </a>
        </li>
        <li routerLinkActive="active" >
          <a class="">
            <i>
              <img src="assets/Images/tech.svg" style="width: 26px;border-radius: 50%;" />
            </i>
            <!-- {{item.OwnClassName}} -->
            <!-- {{item.OwnClassName}} {{item.OwnClassId}} -->
          </a>

        </li>

      </ul>

      <ul  id="side-main-menu" class="side-menu list-unstyled">
        <li  class="header">

          <b class="myDIV" class="heading">JOINED CLASSES</b>
          <i (mouseenter)="showHeading('Joined Classess')"  data-toggle="modal" data-target="#ClassesJoined" class="fas fa-plus" ></i>
        </li>
        <div id="meaageDiv" style="display:none">

        </div>

        
        <li routerLinkActive="active" >
          <a class="">
            <i>
              <img src="assets/Images/tech.svg" style="width: 26px;border-radius: 50%;" />
            </i>
            <!-- {{item.JoinClassName}} -->
            <!-- {{item.JoinClassName}} {{item.JoinClassId}} -->
          </a>

        </li>

      </ul>
      
    </div>
    </div>
</nav>
<div class="page">
  <!-- navbar-->
  <header class="header">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <a id="toggle-btn" href="#" class="menu-btn" >
              <i class="fa fa-bars" style="background: transparent;color:black"> </i>
            </a>
            <!-- <a href="index.html" class="navbar-brand">
              <div class="brand-text d-none d-md-inline-block">
                <span>Bootstrap </span>
                <strong class="text-primary">Dashboard</strong>
              </div>
            </a> -->
          </div>
          <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

            <!-- Messages dropdown-->
            <li class="nav-item dropdown">
              <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="nav-link">
                <img src="assets/img/avatar-1.jpg" style="width:50px ;height: 50px; position: relative; top: 12px;" alt="English" class="img-fluid rounded-circle">
                <span style="color: #8e8e8e; margin-left: 10px; font-family: Montserrat;">Good Afternoon,</span>
                <div style="margin-left: 68px; position: relative; top: -26px;font-family: Montserrat; font-weight: bold;">Mr.Usman Shah
                  <i class="fa fa-sort-desc fa-2x"></i>
                </div>



              </a>
              <ul aria-labelledby="notifications" class="dropdown-menu">
                <li>
                  <a rel="nofollow" class="dropdown-item test d-flex">
                    <div class="msg-profile">
                      <i class="fa fa-user"></i>
                    </div>
                    <div class="line">&nbsp;</div>
                    <div class="msg-body">
                      <h3 class="h5">Profile</h3>

                    </div>
                  </a>

                  <ul class="dropdown-submenu custome-sb-menu">
                    <li>
                      <a rel="nofollow" class="dropdown-item d-flex">
                        <div class="msg-profile">
                          <i class="fa fa-user"></i>
                        </div>
                        <div class="line">&nbsp;</div>
                        <div class="msg-body">
                          <h3 class="h5">Profile</h3>

                        </div>
                      </a>
                    </li>
                    <li>
                      <a rel="nofollow" class="dropdown-item d-flex">
                        <div class="msg-profile">
                          <i class="fa fa-cog"></i>
                        </div>
                        <div class="line">&nbsp;</div>
                        <div class="msg-body">
                          <h3 class="h5">Setting</h3>

                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a rel="nofollow" class="dropdown-item d-flex">
                    <div class="msg-profile">
                      <i class="fa fa-user"></i>
                    </div>
                    <div class="line">&nbsp;</div>
                    <div class="msg-body">
                      <h3 class="h5">Profile</h3>

                    </div>
                  </a>
                </li>

                <li>
                  <a rel="nofollow" class="dropdown-item d-flex">
                    <div class="msg-profile">
                      <i class="fa fa-sign-out-alt"></i>
                    </div>
                    <div class="line">&nbsp;</div>
                    <div class="msg-body">
                      <h3 class="h5">Logout</h3>

                    </div>
                  </a>
                </li>
                <li>
                  <a rel="nofollow" class="dropdown-item d-flex">
                    <div class="msg-profile">
                      <i class="fa fa-lock"></i>
                    </div>
                    <div class="line">&nbsp;</div>
                    <div class="msg-body">
                      <h3 class="h5">Password</h3>

                    </div>
                  </a>
                </li>


              </ul>
            </li>

            <!-- Log out-->
            <!-- <li class="nav-item">
              <a href="login.html" class="nav-link logout">
                <span class="d-none d-sm-inline-block">Logout</span>
                <i class="fa fa-sign-out"></i>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>




  <div class="modal" id="CreateClass" role="dialog">
    <div class="modal-dialog" style="background-color:white">
      <div id="popupModelOuter" style="height: 857px!important;">
        <div data-dismiss="modal" id="close">X</div>
        <br />
        <br />
        <p style="text-align:center;">
          <img src="assets/Images/create-class.png" style="width:440px;" />
        </p>
        <br />
        <h3 style="text-align: center;">Create a class</h3>
        <div class="popupModelInner" style="top: 40%!important;">
          <div class="form-horizontal">
            <input type="hidden" name="IconValue" id="IconValue" value="" />
            <div class="form-group">
              <p style="margin: 0px 12px 10px !important;">Choose Class Icon</p>
              <select id="IconDropdown" class="IconDropdown" name="department">
                <option value="-1">options</option>
                <option value="literature" class="flag classIconDDImg">
                  <option>
              </select>
              <dl id="IconDropdown" class="IconDropdown">
                <dt>
                  <a>
                    <span>Please select Class Icon</span>
                  </a>
                </dt>
                <dd>
                  <ul>
                    <li>
                      <a id="onLoadImg">
                        <img class="flag classIconDDImg" src="assets//Images/ClassIcons/art.svg" />
                        <span class="value">art</span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/geometry.svg" />
                        <span class="value">geometry</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/literature.svg" />
                        <span class="value">literature</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/reading.svg" />
                        <span class="value">reading</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/soccer.svg" />
                        <span class="value">soccer</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/stats.svg" />
                        <span class="value">stats</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/track.svg" />
                        <span class="value">track</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/writing.svg" />
                        <span class="value">writing</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/soccer.svg" />
                        <span class="value">soccer</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/stats.svg" />
                        <span class="value">stats</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/track.svg" />
                        <span class="value">track</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="flag classIconDDImg" src="assets/Images/ClassIcons/writing.svg" />
                        <span class="value">writing</span>
                      </a>
                    </li>
                  </ul>
                </dd>
              </dl>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input type="text" [(ngModel)]="Name" class="form-control logOnTexboxStyle showCode" placeholder="Class name" />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon" style="border-bottom: 2px solid #c5c5c5!important;border: 0px !important;">
                  <i class="fa fa-fw fa-at" style="font-size:21px;"></i>
                </div>
                <input type="text" [(ngModel)]="code" class="form-control pull-right hideOrShow logOnTexboxStyle" style="background-color: white !important;"
                  placeholder="Class Code" />
              </div>
            </div>
            <br />
            <div class="form-group">
              <div class="col-md-12">
                <p style="text-align:center;">
                  <input type="submit" (click)="CreateClass(Name)" value="CREATE NOW" id="button" class="getIconValue" />
                </p>
              </div>
            </div>
            <br />
            <p style="text-align:center;">
              Looking for a class?
              <a style="color:#fa654e">Join a class</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>





<div class="modal" id="ClassesJoined" role="dialog">
  <div class="modal-dialog" style="background-color:white">

    <div id="popupModelOuter">
      <div id="close">X</div>
      <br />
      <br />
      <p style="text-align:center;">
        <img src="assets/Images/join -class.png" style="width:440px;" />
      </p>
      <br />
      <h3 style="text-align: center;">Join a class</h3>
      <p style="text-align: center;">Enter your class code</p>
      <div class="popupModelInner" style="top: 57%!important;">
        <div class="form-horizontal">
          <!-- <div class="form-group"> -->

          <div class="form-group-material">
            <!-- <input formControlName=userName id="userName" type="text" name="userName" class="input-material " [ngClass]="{'is-invalid ': (!loginForm.controls['userName'].valid && loginForm.controls['userName'].touched )}"> -->
            <label for="userName" class="label-material">userName</label>
          </div>

          <div class="col-md-12">
            <input type="text" [(ngModel)]="ClassCode" class="form-control logOnTexboxStyle" placeholder="Class code" />
          </div>
          <!-- </div> -->
          <br />
          <div class="form-group">
            <div class="col-md-12">
              <p style="text-align:center;">
                <input type="submit" (click)="JoinClass(ClassCode)" value="JOIN NOW" id="button" />
              </p>
            </div>
          </div>
          <br />
          <p style="text-align:center;">
            Do you wanna?
            <a data-toggle="modal" data-target="#CreateClass" style="color:#fa654e">Create a class</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>