<p>
  password works!
</p>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div class="row">
  <div id="successDialog">
      <div style="padding: 9px 4px;">
          <p>.Text</p>
      </div>
  </div>
 
  <div class="col-sm-offset-3 col-md-9">
      <img src="assets/Images/ChangePassword.png" class="img-responsive" style="display: initial !important;" />
      <br />

      <div *ngIf="_UserDetailsService">
          {{_UserDetailsService.UseDetails.Id}} User Id
      </div>
      Change Password
      <!--@using (Html.BeginForm("ChangePassword", "Settings", FormMethod.Post, null))
      {-->
      <div class="form-horizontal">
          <div class="form-group">
              <div class="col-md-6">
                  <input type="password" [(ngModel)]="Oldpassword" class="form-control rect logOnTexboxStyle" placeholder="Old password" />
                  {{Oldpassword}}
                  <!--@Html.EditorFor(model => model.PasswordModel.OldPassword, new { htmlAttributes = new { @class = "form-control rect logOnTexboxStyle", placeholder = "Old password" } })-->
                  <!--@Html.ValidationMessageFor(model => model.PasswordModel.OldPassword, "", new { @class = "text-danger" })-->
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-6">
                  <input type="password" [(ngModel)]="Newpassword" class="form-control rect logOnTexboxStyle" placeholder="New password" />
                  {{Newpassword}}
                  <!--<input type="text" class="form-control rect logOnTexboxStyle" placeholder="New Password" />-->
                  <!--@Html.EditorFor(model => model.PasswordModel.NewPassword, new { htmlAttributes = new { @class = "form-control rect logOnTexboxStyle", placeholder = "New password" } })
                  @Html.ValidationMessageFor(model => model.PasswordModel.NewPassword, "", new { @class = "text-danger" })-->
              </div>
          </div>
          <div class="form-group">
              <div class="col-md-6">
                  <!--<input type="text" class="form-control rect logOnTexboxStyle" placeholder="Confirm Password" />-->
                  <input type="password" [(ngModel)]="Confirmpassword" class="form-control rect logOnTexboxStyle" placeholder="Confirm password" />
                  {{Confirmpassword}}
                  <!--@Html.EditorFor(model => model.PasswordModel.ConfirmPassword, new { htmlAttributes = new { @class = "form-control rect logOnTexboxStyle", placeholder = "Confirm password" } })
                  @Html.ValidationMessageFor(model => model.PasswordModel.ConfirmPassword, "", new { @class = "text-danger" })-->
              </div>
          </div>
          <br />
          {{statusMessage}}
          <div class="form-group">
              <div class="col-sm-offset-4">
                  <!--<input type="button" value="UPDATE" (click)="ChangePassword(_UserDetailsService.UseDetails.UserId,Oldpassword,Newpassword,Confirmpassword)"    id="button" style="width: 100px;" />-->
                  <!--  <input type="button" value="UPDATE" (click)="ChangePassword()" id="button" style="width: 100px;" />-->
                  <button (click)='ChangePasswordFun(_UserDetailsService.UseDetails.UserId,Oldpassword,Newpassword,Confirmpassword)' id="button" style="width: 100px;">UPDATE</button>
              </div>
          </div>
      </div>
      <!--}-->
  </div>
</div>
<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog">
      <div id="outer">
          <div id="roleTop">
          </div>
          <div id="fieldArea">
              <form name="FormCreateClass" novalidate>
                  <div id="rolOuterSection">
                      <div class="row">
                          <table class="table">
                              <tbody style="background-color:white;">
                                  <tr>
                                      <th>
                                          <h3 style="color:grey;text-align: center;">Create a class</h3>
                                      </th>
                                  </tr>
                                  <tr style="height: 187px;">
                                      <td>
                                          <br /><br />
                                          <div class="form-horizontal">

                                              <div class="form-group">
                                                  <div class="control-label col-md-2">Name</div>
                                                  <div class="col-md-6">
                                                      <input type="text" ng-model="Name" name="uName" class="form-control" required />
                                                      <span style="color:orangered" ng-show="FormCreateClass.uName.$touched && FormCreateClass.uName.$error.required">Please Enter Class Name</span>
                                                  </div>
                                              </div>

                                              <div class="form-group">
                                                  <div class="control-label col-md-2">Code</div>
                                                  <div class="col-md-6">
                                                      <input type="text" ng-model="Code" class="form-control" ng-readonly="true" />
                                                  </div>
                                              </div>
                                          </div>

                                      </td>
                                  </tr>
                                  <tr style="background-color:#f7f6f6;">
                                      <td>
                                          <input type="submit" value="Create" ng-disabled="FormCreateClass.$invalid" ng-click="AddUpdateClass()" id="clsCreate" />

                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>

              </form>
          </div>
      </div>
  </div>
</div>


