<div style="background: #F4F4F4;height:800px;max-height: 100%;">

  <img src="../../../../assets/Images/login_bg.png" style="width: 100%" alt="">
  <div class="container" style="margin-top:30px;">
    <div class="">
      <div class="form-inner">
        <form [formGroup]=loginForm (ngSubmit)=onSubmit(loginForm.value) class="text-left form-validate">
          <div class="form-group-material">
            <input formControlName=userName size="100%" id="login-username" type="text" name="username" required data-msg="Please enter your username" class="input-material">
            <label for="login-username" class="label-material">Username</label>
          </div>
          <div class="form-group-material">
            <input formControlName=password id="login-password" type="password" name="password" required data-msg="Please enter your password" class="input-material">
            <label for="login-password" class="label-material">Password</label>
          </div>
          <div class="form-group text-center">
            <button [disabled]="!loginForm.valid" type="submit"  id="login"  class="btn btn-primary" style=" border :none;background-color: #f76149 ;width: 130px;border-radius: 4px;">LOGIN</button>
            <!-- This should be submit button but I replaced it with <a> for demo purposes-->
          </div>
        </form>
        <div style="text-align: center">
          <a href="#" class="forgot-pass text-center" >Forgot Password?</a>
          <br>
          <small>Do not have an account? </small>
          <a href="register.html" class="signup">Signup</a>

        </div>
      </div>


    </div>
  </div>

</div>